body{
    margin: 0;
    padding: 0;
    background: black;
}
.slider{
    position: relative;
    z-index: 0;
}
.img-slider{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.logo{
    width: 10%;
}
.left-btn:hover{
    color: grey;
}
.right-btn:hover{
    color: grey;
}
.left-btn:after{
    background: transparent;
}
.left-btn{
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    font-size: 30px;
    color: white;
    background: transparent;
}
.right-btn{
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    right: 0;
    font-size: 30px;
    color: white;
    background: transparent;
}
@media (max-width:1000px) {
    .left-btn{
        font-size: 20px;
    }
    .right-btn{
        font-size: 20px;
    }
}
@media (min-width:1920px) {
    .left-btn{
        font-size: 40px;
    }
    .right-btn{
        font-size: 40px;
    }
    .well{
        font-size: 40px;
    }
}

#addimage{
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
}
#link{
    float: left;
    margin-top: 5%;
}
h3{
    float: left;
    padding-top: 5%;
}
.sub-btn{
    margin-top: 2%;
    float: right;
}
#team{
    margin-top:5%;
    margin-bottom: 5%;
}
.well{
    background-color:#272929;
    padding: 5%;
    font-size: 20px;
    color: white;
}
.explication{
    margin-top: 5%;
}
#contact{
    margin-bottom:5%;
}
.contact{
    margin-top: 2%;
}

iframe{
    width: 100%;
    height: 100%;
}
